<%- include("partials/header.ejs") %>

<div class = "cal">
    <h1>Choose A Date:</h1>
        <div class="wrapper">
            <header>
                <p class="current-date"><%= date %></p>
                <div class="icons">
                    <form action="/calendar" method = "POST"><button id = "left" class="material-symbols-outlined" value = "prev" name = "submit">chevron_left</button></form>
                    <form action="/calendar" method = "POST"><button class="material-symbols-outlined" value = "next" name = "submit">chevron_right</button></form>
                </div>
            </header>
            <div class="calendar">
                <ul class="weeks">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tue</li>
                    <li>Wed</li>
                    <li>Thu</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </ul>
                <ul class="days">
                    <%- days %>
                </ul>
            </div>
        </div>
    </div>


