<%- include("partials/header.ejs") %>

<div class = "contacts">
    <h2>Please fill out the form and we will be in touch as soon as possible</h2>
    <form>
        <input type="text" name = "name" placeholder="Full Name" required><br>
        <input type="text" name = "phone" placeholder="Phone Number" required><br>
        <input type="text" name = "email" placeholder="Email Address" required><br>
        <input type="text" name = "event" placeholder="Type of Event" required><br>
        <input type="text" name = "date" placeholder="Event Date"><br>
        <input type="text" name = "location" placeholder="Location"><br>
        <input type="text" name = "budget" placeholder="Budget"><br>
        <textarea placeholder = "Tell us about your event"></textarea><br>
        <input type="submit" value="Submit">
    </form>

</div>