<%- include("partials/header.ejs") %>

<div class = "pages">
    <div class = "socials">
        <img src = "https://media.istockphoto.com/vectors/contact-us-icons-support-concept-set-vector-id687078032?k=6&m=687078032&s=612x612&w=0&h=v85UOnglc2XKv166FZhtktOAl2bSPug1uv2fiDMRbL8=">
    </div>
    <div class = "contacts">
        <!-- <h2 id = "title">Please fill out the form and we will be in touch as soon as possible!</h2> -->
        <form action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="d6d257fc-c2c1-4dc3-a9fb-4d1b00ab5c93">
            <input type="text" name = "name" placeholder="Full Name" required><br>
            <input type="text" name = "phone" placeholder="Phone Number" required><br>
            <input type="text" name = "email" placeholder="Email Address" required><br>
            <input type="text" name = "event" placeholder="Type of Event" required><br>
            <input type="text" name = "date" placeholder="Event Date"><br>
            <input type="text" name = "location" placeholder="Location"><br>
            <input type="text" name = "budget" placeholder="Budget"><br>
            <textarea placeholder = "Tell us about your event"></textarea><br>
            <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>