<%- include("partials/header.ejs") %>

<div class = "FAQ">
    <h1>Frequently Asked Questions</h1>
    <details> 
      <summary>When will we get our finished prints?</summary>
      <p>You should get the finished pictures 5-7 days after the shoot.</p>
    </details>
    <details>
      <summary>Is it easy for friends and family to see the final images?</summary>
      <p>Sharing photos and your highlight video with your friends and family is easy.</p>
    </details>
    <details> 
      <summary>What is requred to secure a date with you?</summary>
      <p>To secure my services, after your inquiry, I will send you a contract.</p>
    </details>
    <details> 
      <summary>How much are your photography services?</summary>
      <p>The prices vary based on the session that is chosen and the type of event.</p>
    </details>
    <details> 
      <summary>How long will the sessions take?</summary>
      <p>The sessions are usually between 35 minutes to an hour.</p>
    </details>
</div>