<%- include("partials/header.ejs") %>

<div class = "page">
    <h1>Price List</h1>
    <div class = "services">
        <div class = "packages">
            <h2>Mini<br>Session<br>35 minutes</h2>
            <h3>12 fully edited images</h3>
            <h3>Private gallery to share</h3>
            <h3>$8 extra image</h3>
            <h2>$200</h2>
            <img src = "./images/comunion.jpg">
            <form action="/calendar" method="GET"><button class = "book" name = "submit" type="submit" value="mini">Book Now</button></form>
        </div>
        <div class = "packages">
            <h2>Basic<br>Session<br>45 minutes</h2>
            <h3>20 fully edited images</h3>
            <h3>Private gallery to share</h3>
            <h3>$8 extra image</h3>
            <h2>$300</h2>
            <img src = "./images/placeholder.png">
            <form action="/calendar" method="GET"><button class = "book" name = "submit" type="submit" value="basic">Book Now</button></form>
        </div>
        <div class = "packages">
            <h2>Family<br>Session<br>60 minutes</h2>
            <h3>30 fully edited images</h3>
            <h3>Private gallery to share</h3>
            <h3>$5 extra image</h3>
            <h2>$350</h2>
            <img src = "./images/family.jpg">
            <form action="/calendar" method="GET"><button class = "book" name = "submit" type="submit" value="family">Book Now</button></form>
        </div>
        <div class = "packages">
            <h2>Studio<br>Session<br>35 minutes</h2>
            <h3>8 fully edited images</h3>
            <h3>Private gallery to share</h3>
            <h3>$8 extra image</h3>
            <h2>$200</h2>
            <img src = "./images/portrait.jpg">
            <form action="/calendar" method="GET"><button class = "book" name = "submit" type="submit" value="studio">Book Now</button></form>
        </div>
    </div>
</div>

<script src="../main.js"></script>