<%- include("partials/header.ejs") %>

<div class = "portfolio">
    <div class = "grid">
        <div class = "gridSquare">
            <img src = "../images/wedding.png" height = "400"> 
            <div><a id = "pictures" href = "/weddings">Weddings</a></div>
        </div>
        <div class = "gridSquare">
            <img src = "../images/portrait.jpg" height = "400"> 
            <div><a id = "pictures" href = "/portraits">Portraits</a></div>
        </div>
        <div class = "gridSquare">
            <img src = "../images/family.jpg" height = "400"> 
            <div><a id = "pictures" href = "/families">Families</a></div>
        </div>
        <div class = "gridSquare">
            <img src = "../images/graduation.jpg" height = "400"> 
            <div><a id = "pictures" href = "/graduation">Graduation</a></div>
        </div>
        <div class = "gridSquare">
            <img src = "../images/comunion.jpg" height = "400"> 
            <div><a id = "pictures" href = "/communion">First Communion</a></div>
        </div>
        <div class = "gridSquare">
            <img src = "http://www.v3wall.com/wallpaper/small/1502/small_20150211115705489700.jpg" height = "400"> 
            <div><a id = "pictures" href = "/others">Others</a></div>
        </div>
    </div>
</div>