<%- include("partials/header.ejs") %>

<div class = "portfolio">
    <div class = "grid">
            <h2 id = "pictures" class = "gridSquare"><a href = "/weddings">Weddings</a></h2>
            <h2 id = "pictures" class = "gridSquare"><a href = "/graduation">Graduations</a></h2>
            <h2 id = "pictures" class = "gridSquare"><a href = "/families">Families</a></h2>

            <div class = "gridSquare"><a href = "/weddings"><img src = "../images/wedding.png" height = "400"></a></div>
            <div class = "gridSquare"><a href = "/graduation"><img src = "../images/graduation.jpg" height = "400"></a></div>
            <div class = "gridSquare"><a href = "/families"><img src = "../images/family.jpg" height = "400"> </a></div>
        </div>
    </div>
</div>