<%- include("partials/header.ejs") %>

<div class = "portfolio">
    <div class = "grid">
        <div class = "gridSquare">
            <h2 id = "pictures"><a href = "/weddings">Weddings</a></h2>
            <div class = "gridImg"><a href = "/weddings"><img src = "../images/wedding.png"></a></div>
        </div>
        <div class = "gridSquare">
            <h2 id = "pictures"><a href = "/graduation">Graduations</a></h2>
            <div class = "gridImg"><a href = "/graduation"><img src = "../images/graduation.jpg"></a></div>
        </div>
        <div class = "gridSquare">
            <h2 id = "pictures"><a href = "/families">Families</a></h2>
            <div class = "gridImg"><a href = "/families"><img src = "../images/family.jpg"> </a></div>
        </div>
        </div>
    </div>
</div>